section{
    width: 270px;
    height: 20px;
    background-color: rgb(15, 0, 23);
    margin-left: -6px;
    margin-top: -6px;
    text-decoration: solid;
}
a{
    text-decoration: none;
    color: gray;
    text-align: center;
    font-size: 5px;
    padding-left: 12px;
    font-family: sans-serif;
    font-weight: bold;
}